<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header.ejs %>
</head>
<body style="font-size:20px; padding:50px;">
  <h2>Your Tiny URLs:</h2>

  <% if( user_id === undefined){ %>
    <p>Please login to view your TinyURLs</p>
  <% } else { %>
  <% urls.forEach(function(key) { %>
    <p>
      <a href = <%= key.url %>>tiny.gov/<%= key.id %></a>&#32;&#40;<%= key.url %>&#41;

      <form method="GET" action='/urls/<%= key.id %>'><input id="Edit URL" type="submit" value="Edit"/></form>

      <form  method="POST" action="/urls/<%= key.id %>/delete"><input id="Delete URL" type="submit" value="Delete"/></form>

    </p>
  <% }); %>
  <p><BLOCKQUOTE><form method="GET" action= '/urls/new'><input id="Enter New URL" type="submit" value="Create a New TinyURL"/></form></BLOCKQUOTE></p>
  <% } %>

</body>
</html>