<html lang="en">
<head>
  <title>TinyApp</title>
  <% include ./partials/_header.ejs %>
</head>
<body>
  <h2>Your Tiny URLs:</h2>

  <% Object.keys(urls).forEach(function(keys) { %>
    <p>
      <a href = <%= urls[keys]%>>tiny.gov/<%= keys %></a>&#32;&#40;<%= urls[keys] %>&#41;

      <a href = '/urls/<%= keys %>'><input id="Edit URL" type="submit" value="Edit"/></a>

      <form  method="POST" action="/urls/<%= keys %>/delete"><input id="Delete URL" type="submit" value="Delete"/></form>

    </p>
  <% }); %>

  <p><BLOCKQUOTE><a href = '/urls/new'><input id="Enter New URL" type="button" value="New URL" onclick="/urls/new" /></a></BLOCKQUOTE></p>
</body>
</html>